* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #0f172a, #111827);
  color: #f1f5f9;
  line-height: 1.7; /* más aire en lectura */
}

header {
  padding: 90px 20px;
  text-align: center;
}

header h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  color: #94a3b8;
}

section {
  max-width: 1100px;
  margin: 100px auto;
  padding: 0 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 40px;
  border-left: 4px solid #38bdf8;
  padding-left: 15px;
}

/* ---------- CARD ---------- */

.card {
  background: #1e293b;
  padding: 40px; /* más aire interno */
  border-radius: 14px;
  margin-bottom: 50px;
  border: 1px solid rgba(255,255,255,0.05); /* efecto más pro */
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.card h3 {
  color: #38bdf8;
  margin-bottom: 30px;
  font-size: 24px;
}

.card h4 {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #e2e8f0;
}

.card p {
  margin-bottom: 20px;
  max-width: 850px; /* 👈 CLAVE: limita ancho del texto */
  color: #cbd5e1;
}

.card ul {
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 22px;
  max-width: 850px; /* también limita lista */
}

.card li {
  margin-bottom: 14px;
  line-height: 1.7;
  color: #cbd5e1;
}

.card img {
  display: block;
  margin: 25px 0 30px 0; /* espacio arriba y abajo */
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* ---------- TECH STACK TEXT ---------- */

.footer-text {
  margin-top: 30px;
  font-weight: 600;
  color: #38bdf8;
}

/* ---------- BUTTON ---------- */

.btn {
  display: inline-block;    /* antes estaba inline-block */
  margin-top: 15px;    /* espacio respecto a la imagen */
  width: fit-content;  /* para que no ocupe todo el ancho */
  margin-bottom: 40px; 
  padding: 10px 18px;
  background: #38bdf8;
  color: #0f172a;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}


.btn:hover {
  background: #0ea5e9;
}

iframe {
  border-radius: 10px;
  margin-top: 25px;
}

/* ---------- FOOTER ---------- */

footer {
  text-align: center;
  padding: 60px 20px;
  color: #64748b;
  font-size: 14px;
}
